<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table>
  <tr>
    <td><%= "First Name: #{@owner.first_name}" %></td>
  </tr><tr>
    <td><%= "City: #{@owner.last_name}" %></td>
  </tr><tr>
    <td><%= "State: #{@owner.email}" %></td>
  </tr><tr>
    <td><%= "Postal Code: #{@owner.company}" %></td>
  </tr>
</table>

 <li> <%= link_to 'ADD MORE', new_owner_path %> </li>
