<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>I LOVE BUILDINGS! TELL ME ABOUT SOME BUILDING!</h1>

<%= simple_form_for @building do |f| %>
  <%= f.input :street_address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :postal_code %>
  <%= f.input :description %>
  <%= f.button :submit, "USER FRIENDLY BUILDING ADDITION BUTTON" %>
  <% end %>
